.projectResponsibilities {
    line-height: 35px;
  }
  #clients .section-wrapper > .section-content {
    padding-bottom: 160px;
  }
  #clients .flexslider.clients {
    margin-top: 30px;
    margin-bottom: 0;
    background: 0 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  #clients .flexslider.clients:hover .flex-direction-nav-custom > li > a {
    opacity: 1;
  }
  #clients .flexslider.clients > .slides > .item .profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
  }
  #clients .flexslider.clients > .slides > .item .profile > img {
    display: block;
    width: 120px;
    height: 120px;
  }
  #clients .flexslider.clients > .slides > .item .content {
    color: #a1a1a1;
  }
  #clients .flexslider.clients > .slides > .item .content h3 {
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  #clients .flexslider.clients > .slides > .item .content p {
    font-size: 22px;
    font-style: italic;
    text-align: center;
  }
  @media (min-width: 768px) {
    #clients .flexslider.clients > .slides > .item .content p {
      text-align: justify;
    }
  }
  @media (max-width: 767px) {
    #clients .flexslider.clients > .slides > .item .content p.detail {
      font-size: 16px;
    }
    #clients .flexslider.clients .flexslider-controls {
      position: relative;
    }
    #clients .flexslider.clients > .slides > .item {
      top: 100px;
    }
  }
  #clients .flexslider.clients > .slides > .item .content p.source {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
  }
  #clients .flexslider.clients > .slides > .item .content p.source > span {
    color: #a1a1a1;
  }
  #clients .flexslider.clients .flexslider-controls > .flex-control-nav {
    bottom: -60px;
  }
  #clients .flexslider.clients .flexslider-controls > .flex-control-nav > li {
    position: relative;
    margin: 0 3px;
  }
  #clients
    .flexslider.clients
    .flexslider-controls
    > .flex-control-nav
    > li:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #0d0c0d;
    border-radius: 3px;
    opacity: 0.7;
  }
  #clients
    .flexslider.clients
    .flexslider-controls
    > .flex-control-nav
    > li
    > img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
  }
  #clients
    .flexslider.clients
    .flexslider-controls
    > .flex-control-nav
    > li.flex-active:before {
    opacity: 0.2;
  }
  #clients .flexslider.clients > .flex-direction-nav-custom {
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    margin-top: -5px;
  }
  #clients .flexslider.clients > .flex-direction-nav-custom > li {
    padding: 0;
  }
  #clients .flexslider.clients > .flex-direction-nav-custom > li:hover > a {
    color: #fff;
  }
  #clients .flexslider.clients > .flex-direction-nav-custom > li > a {
    color: #a1a1a1;
    font-size: 35px;
  }
  .bar-chart > .item > .bar > .percent,
  .circle-chart .item > .percent {
    line-height: 40px;
    font-size: 14px;
    box-shadow: 3px 3px 10px #0d0c0d;
    font-weight: 700;
    text-align: center;
  }
  #clients .flexslider.clients > .flex-direction-nav-custom > li > a.flex-prev {
    padding-right: 20px;
  }
  #clients.parallax-yes {
    background: 0 0;
  }