#skills {
    background-color: #0d0c0d;
  }
  #skills .section-wrapper > .section-content {
    padding-bottom: 0;
  }
  @media (max-width: 767px) {
    .circle-chart {
      margin-top: -30px;
    }
    #work-process .text-justify {
      text-align: center;
    }
  }
  .circle-chart .item {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  @media (min-width: 768px) {
    #skills {
      padding-bottom: 60px;
    }
    .circle-chart .item {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .circle-chart .item > .circle {
    position: relative;
    margin: 0 auto;
    padding: 6px;
    width: 120px;
    height: 120px;
    background-color: #a1a1a1;
    border-radius: 50%;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #accolades .section-wrapper > .section-content,
  #knowledge .section-wrapper > .section-content {
    padding-top: 0;
  }
  .circle-chart .item > .circle > .item-progress {
    display: inline-block;
    position: relative;
    width: 108px;
    height: 20px;
    overflow: hidden;
  }
  .circle-chart .item > .circle > .item-progress:before {
    display: block;
    content: "";
    width: 108px;
    height: 108px;
    background-color: #3b3b3b;
    border-radius: 106px;
  }
  .circle-chart .item > .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -40px;
    margin-left: -20px;
    background-color: #006ca3;
    border-radius: 4px;
  }
  .circle-chart .item > h4 {
    margin-top: 20px;
    text-align: center;
  }
  #knowledge {
    background-color: #0d0c0d;
  }
  .bar-chart {
    position: relative;
    margin-top: 40px;
  }
  .bar-chart > .item {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
  }
  .bar-chart > .item:last-child {
    margin-bottom: 0;
  }
  .bar-chart > .item > h4 {
    margin-bottom: 18px;
  }
  @media (min-width: 1280px) {
    .bar-chart > .item > h4 {
      margin-bottom: 12px;
    }
  }
  .bar-chart > .item > .bar {
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 15px;
    border-radius: 2px;
    background-color: #a1a1a1;
  }
  .bar-chart > .item > .bar > .item-progress {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    height: 100%;
    border-radius: 2px;
    background-color: #3b3b3b;
  }
  .bar-chart > .item > .bar > .percent {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: calc(100% - 40px);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-color: #006ca3;
    border-radius: 4px;
  }

  #accolades {
    background-color: #0d0c0d;
  }
  #accolades .bookmark {
    margin-top: 80px;
    font-size: 40px;
  }
  .accolades {
    margin-top: 30px;
  }
  .accolades > .item {
    position: relative;
    padding-bottom: 15px;
  }
  .accolades > .item:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 30px;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #6e6e6e;
  }
  .accolades > .item:last-child {
    padding-bottom: 0;
  }
  .accolades > .item:last-child:before {
    display: none;
  }
  .accolades > .item:last-child > .content {
    padding-bottom: 0;
    border-bottom: none;
  }
  .accolades > .item > i {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #006ca3;
    font-size: 28px;
    text-align: center;
    border-radius: 50%;
  }
  .accolades > .item > .content {
    margin-left: 90px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #6e6e6e;
  }
  .accolades > .item > .content h3 {
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .accolades > .item > .content p {
    font-size: 18px;
  }
  #milestones.parallax-yes {
    background: 0 0;
  }
  .milestones {
    margin-top: 40px;
  }
  .milestones .item {
    text-align: center;
  }
  @media (max-width: 992px) {
    .milestones .item:first-child,
    .milestones .item:nth-child(2) {
      margin-bottom: 60px;
    }
  }
  @media (max-width: 768px) {
    .milestones .item:nth-child(3) {
      margin-bottom: 60px;
    }
  }
  .milestones .item > .circle {
    position: relative;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    background-color: #006ca3;
    border-radius: 50%;
    opacity: 0.8;
  }
  .milestones .item > .circle > i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 45px;
    text-align: center;
  }
  .milestones .item > .number {
    font-size: 32px;
  }
  .milestones .item h4 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
  }
  #work-process {
    background-color: #171717;
  }
  #work-process .divider {
    margin-bottom: 60px;
  }
  .work-process {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .work-process {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0 15px;
    }
  }
  .work-process .item {
    position: relative;
    padding: 0;
  }
  @media (max-width: 767px) {
    #work-process .divider {
      margin-right: auto;
      margin-left: auto;
    }
    .work-process .item {
      margin: 0 auto;
      width: 200px;
      height: 132px;
    }
    .work-process .item:before {
      position: absolute;
      z-index: 10;
      content: "";
      bottom: 0;
      left: 0;
      width: 1px;
      height: 100%;
      margin-bottom: -66px;
      border-left: 1px dashed #6e6e6e;
    }
  }
  .work-process .item .inner-content {
    z-index: 5;
    position: relative;
    width: 100%;
    height: 132px;
  }
  @media (min-width: 768px) {
    .work-process .item .inner-content {
      margin-top: 102px;
      height: 102px;
    }
  }
  .work-process .item .inner-content:before {
    position: absolute;
    z-index: 10;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #6e6e6e;
  }
  .work-process .item .inner-content:after {
    position: absolute;
    z-index: 10;
    content: "";
    top: 50%;
    right: 0;
    width: 1px;
    height: 100%;
    margin-top: -132px;
    border-left: 1px dashed #6e6e6e;
  }
  @media (min-width: 768px) {
    .work-process .item .inner-content:after {
      margin-top: -102px;
    }
  }
  .work-process .item .inner-content > i {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    display: block;
    width: 86px;
    height: 66px;
    line-height: 66px;
    margin-top: -33px;
    margin-left: -43px;
    background-color: #006ca3;
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
  }
  .work-process .item .inner-content > span.title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    line-height: 66px;
    margin-top: -18px;
    text-align: center;
    text-transform: uppercase;
  }
  @media (min-width: 768px) {
    .work-process .item .inner-content > span.title {
      margin-top: -33px;
    }
  }
  .work-process .item .inner-content > span.dot {
    position: absolute;
    z-index: 15;
    content: "";
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #6e6e6e;
    border-radius: 25%;
  }
  .work-process .item > i.icon-Arrow {
    display: block;
    position: absolute;
    z-index: 15;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: 45px;
    margin-right: -25px;
    font-size: 25px;
    text-align: center;
  }
  @media (max-width: 767px) {
    .work-process .item > i.icon-Arrow.icon-Up-3 {
      left: 0;
      margin-left: -25px;
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .work-process .item.last:before {
      display: none;
    }
  }
  .work-process .item.first .inner-content:before {
    left: auto;
    right: 0;
  }
  .work-process .item.last .inner-content:after {
    display: none;
  }
  @media (min-width: 768px) {
    .work-process .item > i.icon-Arrow.icon-Down-3 {
      margin-top: 25px;
    }
    .work-process .item > i.icon-Arrow.icon-Up-3 {
      margin-top: -25px;
    }
    .work-process .item.last .inner-content > span.dot {
      right: 0;
      left: auto;
    }
    .work-process .item.no-margin .inner-content > span.title {
      top: auto;
      bottom: 0;
      margin-bottom: -33px;
    }
  }
  @media (max-width: 767px) {
    .work-process .item.last .inner-content:before {
      left: auto;
      right: 0;
    }
    .work-process .item.no-margin:before {
      display: none;
    }
  }
  .work-process .item.no-margin .inner-content,
  .work-process .item.no-margin .inner-content:after {
    margin-top: 0;
  }