/* My Custom Style */

.slider1 {
  background-image: url("../images/bg-1.jpg");
}
.slider2 {
  background-image: url("../images/bg-2.jpg");
}
.slider3 {
  background-image: url("../images/bg-3.jpg");
}
.slider4 {
  background-image: url("../images/Code4-Write-Less-Code-Effectiently.jpg");
}
.slider5 {
  background-image: url("../images/bg-5.jpg");
}

.top-profile {
  padding-top: 10%;
  width: 100%;
}

.top-slider {
  height: 904px;
}

body {
  display: none;
}
#jpreBar {
  animation: progress 2s linear infinite;
  -moz-animation: progress 2s linear infinite;
  -webkit-animation: progress 2s linear infinite;
  -ms-animation: progress 2s linear infinite;
  -o-animation: progress 2s linear infinite;
}
@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
